<%= form_for @question  do |f| %>
<div class="form-group">
	<%= f.label "Pregunta:" %>
    <%= f.text_field :title, class: "form-control"%>		
</div>
<div class="form-group">
	<%= f.label "Descripcion:" %>
	<%= f.text_area :question, rows: "3",class: "form-control"%>
</div>
	<%= f.submit %>
<% end %>

